.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error button {
  background-color: rgb(54, 54, 60);
  background: rgb(33, 33, 36);
  color: rgb(216, 216, 217);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 8px, 16px;
  cursor: pointer;
}
